<div class="navbar-fixed">
  <nav>
    <div class="container">
      <div class="row">
        <h1>Bob's burgers</h1>
      </div>
    </div>
  </nav>
</div>

<main>
  <div class="container">
    <div class="row place-order">
      {{!-- <div class="col"> --}}
        <div>
          <form class="order-form">
            <div class="form-group">
              <input type="text" id="order-name" name="name" placeholder="Order Here">
              <button id="order-btn" type="submit">Place Order</button>
            </div>
          </form>
        </div>
      </div>
      <div class="row menu">
        <button class="orders-btn">Pick Up</button>
        <button class="history-btn">History</button>
        <hr>
        <div class="row menu-items">
          <ol id="order-items">
            {{#each burgers}}
            {{#unless devoured}}
            {{> burgers/burger-block devoured=true}}
            {{/unless}}
            {{/each}}
          </ol>
          <ol class="hidden" id="history-items">
            {{#each burgers}}
            {{#if devoured}}
            {{> burgers/burger-block devoured=false}}
            {{/if}}
            {{/each}}
          </ol>
        </div>
      </div>
    </div>
</main>