<h1>Bob's Burger Bar</h1>

<h2>Place an Order</h2>

<form class="order-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
    <button type="submit">Order Burger</button>
  </div>

</form>

<h2>Order UP!</h2>

<ul>
  {{#each burgers}}
  {{#unless devoured}}
  {{> burgers/burger-block devoured=true}}
  {{/unless}}
  {{/each}}
</ul>

<h2>Order History</h2>

<ul>
  {{#each burgers}}
  {{#if devoured}}
  {{> burgers/burger-block devoured=false}}
  {{/if}}
  {{/each}}
</ul>